<header class="header">

      <h1 class="title">
        <a href="{{ site.baseurl }}/">{{ site.title }}</a>
      </h1>

      <nav class="navbar">
        <a href="#" class="menu-icon">
          <span></span>
          <span></span>
          <span></span>
        </a>

        <ul class="nav">
          {% for page in site.pages %}
            {% if page.title and page.title != 'Home' %}
            <li><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></li>
            {% endif %}
          {% endfor %}
          <li><a href="{{ site.author.github }}" target="_blank" rel="noopener noreferrer"><i class="fa fa-github"></i></a></li>
        </ul>
      </nav>

</header>
