body {
  background-color: #1B5A87;
  color: white;
  margin: 0;
  display: block;
}

section.theoneandonly {
  margin: 200px auto;
  width: 500px;
  font-family: 'Open Sans';
  color: #ffffff;
}

section.theoneandonly div.hello div.presentation {
  display: inline;
  position: relative;
}
section.theoneandonly div.hello {
  width: 500px;
  margin: 0 auto;
}

section.theoneandonly div.hello div.presentation h1 {
  height: 150px;
  line-height: 150px;
  text-align: center;
  font-size: 60px;
  position: relative;
  font-style: italic;
}

div.yo h1 {
  height: 150px;
  line-height: 150px;
  text-align: center;
  font-size: 40px;
  margin: 0;
  position: relative;
}

section.theoneandonly h2 {
  color: #dddddd;
  text-align: center;
  position: relative;
}

section.theoneandonly div.yo {
  float: left;
  width: 150px;
  height: 150px;
  border-radius: 100px 100px 100px 100px;
  background: #DB5A57;
}

section.theoneandonly div.yo h1 em {
font-family: 'Open Sans';
  line-height: 150px;
  font-size: 60px;
  text-align: center;
  text-shadow: -3px 3px #ca3d28;
vertical-align: middle;}

section.theoneandonly a {
  text-decoration: none;
  font-size: 30px;
  color: white;
}

section.theoneandonly.social {
  width: 100%;
  position: relative;
}

section.theoneandonly div.social ul {
  padding: 0;
  margin: 0 25%;
  list-style: none;
  text-align: center;
}

section.theoneandonly li {
  display: inline;
  margin: 0 10px;
}
